/* Estilos generales para la página principal */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
 
}

.menu-container {
  position: fixed;
  text-align: center;
  width: 99%;  
  height: 80px;
  background-color: #fff;
  position: fixed;
  padding: 0 20px;
  left: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Estilos del logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

.highlight {
  color: #0ec0c1;  /* Color destacado */
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* Estilos de los botones */
.login-button, .register-button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.login-button {
  background-color: transparent;
  color: #0ec0c1;
  border: 2px solid #0ec0c1;
}

.register-button {
  background-color: #0ec0c1;
  color: white;
  margin-right: 20px;
}

/* Estilos para los íconos dentro de los botones */
.icon {
  margin-right: 8px;
}

/* Estilo para el texto grande */
.qr-info {
  text-align: center;
  margin-top: 100px;
}

.qr-info h2 {
  font-size: 48px;  /* Aumentamos el tamaño de la fuente */
}

.qr-info .highlight {
  color: #0ec0c1;
}

/* Estilo para las características con iconos */
.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.feature-item {
  display: flex;
  align-items: center;
}

.feature-item p {
  margin-left: 10px;
  font-size: 16px;
}

/* Palomitas de color azul */
.check-icon {
  color: #007bff;  /* Azul para las palomitas */
}

/* Estilo para el botón de llamada a la acción */
.cta-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 10vh;           /* Usa el 100% de la altura de la pantalla */
  margin-top: 20px;        /* Un poco de espacio arriba */
}

.cta-button {
  padding: 15px 40px;  /* Tamaño del botón */
  font-size: 20px;      /* Tamaño de la fuente */
  background-color: #0ec0c1;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button:hover {
  background-color: #0c9a9b;
}


/* Estilo para el icono dentro del botón */
.cta-icon {
  margin-right: 10px;
}
